/********************************************************************/
body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/********************************************************************/
header {
    display: flex;
    height: 20%;
    width: 100%;
    background-color: black;
    font-size: 1.5em;
    color: white;
    align-items: center;
    justify-content: center;
}

/********************************************************************/
section {
    display: flex;
    height: 70%;
    width: 100%;
}

/********************************************************************/
nav {
    height: 100%;
    width: 20%;
    background-color: gray;
    padding: 10px;
    order: 1;
    overflow: hidden;
}

nav h3 {
    margin: 0px;
    text-align: center;
}

nav ul {
    margin-left: 0px;
    padding: 0;
    list-style: none;
}

nav ul li {
    padding: 5px;
}

nav a {
    color: black;
    text-decoration: none;
}

/********************************************************************/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 5% 20px 5%;
    text-align: center;
    order: 2;
    overflow: scroll;
}

main div {
    width: 100%;
    align-self: center;
    text-align: left;
}

div.intro {
    text-align: center;
}

fieldset {
    padding: 20px;
    border: 2px solid blue;
}

/********************************************************************/
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: gray;
    order: 3;
}

/********************************************************************/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: black;
    color: white;
}

/********************************************************************/

table {
    margin:auto;
    border: 1px solid black;
    border-collapse: collapse;
}
tr {background-color:white;}
tr:hover{background-color: aqua;}
tr.par {background-color:pink;}
tr.impar {background-color:orange;}
td,th {padding:10px; border: 1px solid black;}

/********************************************************************/

button {padding: 5px; margin: 5px;}
.derecha{text-align: end;}
a{
    text-decoration: none;
    color: blue ;
}
.fecha {
    margin: 0;
    text-align: right;
    color: darkred;
}